<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jrx.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.jrx.model.Customer">
        <result column="cust_id" property="custId" jdbcType="INTEGER"/>
        <result column="surname" property="surname" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="educa_des" property="educaDes" jdbcType="VARCHAR"/>
        <result column="mar_des" property="marDes" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insert" parameterType="com.jrx.model.Customer">
        insert into tb_customer (surname, gender,
        educa_des, mar_des, birthday,
        address)
        values (#{surname,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},
        #{educaDes,jdbcType=VARCHAR}, #{marDes,jdbcType=VARCHAR}, #{birthday,jdbcType=INTEGER},
        #{address,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByCustomerId" parameterType="int">
        delete from tb_customer where cust_id = #{id}
    </delete>

    <select id="findByCustomerId" parameterType="int" resultMap="BaseResultMap">
        select * from tb_customer where cust_id = #{id}
    </select>

    <update id="update" parameterType="com.jrx.model.Customer">
        update tb_customer
        <set>
            <if test="surname != null">
                surname = #{surname,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="educaDes != null">
                educa_des = #{educaDes,jdbcType=VARCHAR},
            </if>
            <if test="marDes != null">
                mar_des = #{marDes,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR}
            </if>
        </set>
        where cust_id = #{custId,jdbcType=INTEGER}
    </update>

    <select id="findAllCustomer" resultMap="BaseResultMap">
        select * from tb_customer
    </select>

    <select id="findCustomerByPage" parameterType="map" resultMap="BaseResultMap">
        select * from tb_customer limit #{pageNum},#{pageSize}
    </select>

</mapper>