<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jrx.mapper.DaySummaryMapper">
    <resultMap id="BaseResultMap" type="com.jrx.model.DaySummary">
        <result column="s_index" jdbcType="VARCHAR" property="sIndex"/>
        <result column="cust_id" jdbcType="INTEGER" property="custId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="trans_date" jdbcType="DATE" property="transDate"/>
        <result column="surname" jdbcType="VARCHAR" property="surname"/>
        <result column="tran_max_amt" jdbcType="DECIMAL" property="tranMaxAmt"/>
        <result column="pay_amt" jdbcType="DECIMAL" property="payAmt"/>
        <result column="tran_cnt" jdbcType="INTEGER" property="tranCnt"/>
        <result column="pay_cnt" jdbcType="INTEGER" property="payCnt"/>
        <result column="tran_amt" jdbcType="DECIMAL" property="tranAmt"/>
    </resultMap>

    <insert id="insert" parameterType="com.jrx.model.DaySummary">
        insert into tb_day_summary (s_index, cust_id, update_time,
        trans_date, surname, tran_max_amt,
        pay_amt, tran_cnt, pay_cnt,
        tran_amt)
        values (#{sIndex,jdbcType=VARCHAR}, #{custId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
        #{transDate,jdbcType=DATE}, #{surname,jdbcType=VARCHAR}, #{tranMaxAmt,jdbcType=DECIMAL},
        #{payAmt,jdbcType=DECIMAL}, #{tranCnt,jdbcType=INTEGER}, #{payCnt,jdbcType=INTEGER},
        #{tranAmt,jdbcType=DECIMAL})
    </insert>

    <delete id="deleteByCustomerId" parameterType="int">
        delete from tb_day_summary where cust_id = #{id}
    </delete>

    <select id="findByCustomerId" parameterType="int" resultMap="BaseResultMap">
        select * from tb_day_summary where cust_id = #{id}
    </select>

    <update id="update" parameterType="com.jrx.model.Customer">
        update tb_day_summary
        <set>
            <if test="surname != null">
                surname = #{surname,jdbcType=VARCHAR},
            </if>
            <if test="tranMaxAmt != null">
                tran_max_amt = #{tranMaxAmt,jdbcType=DECIMAL},
            </if>
            <if test="payAmt != null">
                pay_amt = #{payAmt,jdbcType=DECIMAL},
            </if>
            <if test="tranCnt != null">
                tran_cnt = #{tranCnt,jdbcType=INTEGER},
            </if>
            <if test="payCnt != null">
                pay_cnt = #{payCnt,jdbcType=INTEGER},
            </if>
            <if test="tranAmt != null">
                tran_amt = #{tranAmt,jdbcType=DECIMAL}
            </if>
        </set>
        where cust_id = #{custId,jdbcType=INTEGER}
    </update>

    <select id="findAllDaySummary" resultMap="BaseResultMap">
        select * from tb_day_summary
    </select>

    <select id="findDaySummaryByPage" parameterType="map" resultMap="BaseResultMap">
        select * from tb_day_summary limit #{pageNum},#{pageSize}
    </select>
</mapper>